[database]
tables_suffix=_prod

[dynamodb]
region_name=us-west-2

[sns]
region_name=us-west-2

[android]
server_url=https://gcm-http.googleapis.com/gcm/send
app_id=AAAA-jGIXy8:APA91bFS62SCsbAvkUP432sB3MxCktRo4_KFa0nuHl9zDwGPxSzC3CLPaJPIakLLig5Fvgka-L1fBRiB2m1gSEd17FMXDk38P4JZSyYQZnLtrTAx8U7AXfvqgVFVF1OomgFRKcw5T3CX
