[database]
tables_suffix=_test1

[dynamodb]
region_name=us-west-2

[sns]
region_name=us-west-2

[sms_sender]
intercept_to=+14086806761

[ios]
server_url=api.development.push.apple.com:443
key_id=AU3RJ68WG2
team_id=J7P94SNFX8
key_file=server_util/AuthKey_AU3RJ68WG2.p8
app_id=com.soft.dev.acc.karmacounter

[android]
server_url=https://gcm-http.googleapis.com/gcm/send
app_id=AAAA-jGIXy8:APA91bFS62SCsbAvkUP432sB3MxCktRo4_KFa0nuHl9zDwGPxSzC3CLPaJPIakLLig5Fvgka-L1fBRiB2m1gSEd17FMXDk38P4JZSyYQZnLtrTAx8U7AXfvqgVFVF1OomgFRKcw5T3CX

[server]
allow_deletedb=True
