[database]
tables_suffix=_test1

[dynamodb]
region_name=us-west-2

# [sns]
# region_name=us-west-2

# [sms_sender]
# intercept_to=<phone number for testing>

# [ios]
# server_url=api.development.push.apple.com:443
# key_id=
# team_id=
# key_file=
# app_id=

# [android]
# server_url=https://gcm-http.googleapis.com/gcm/send
# app_id=

[server]
allow_deletedb=True
